<div class="login card-container">
  <img class="fixed-logo" src="assets/img/icon.png" alt="image">
  <mat-card class="main-card">
    <div class="grid-divider">
      <form (submit)="login($event)">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="gap">
            <mat-form-field>
              <input matInput placeholder="Username" [(ngModel)]="loginUsername" required name="login-username">
            </mat-form-field>
            <mat-form-field>
              <input name="login-password" matInput placeholder="Password" [(ngModel)]="loginPassword" [type]="hideLoginPwd ? 'password' : 'text'"  required>
              <mat-icon matSuffix (click)="hideLoginPwd = !hideLoginPwd">{{ hideLoginPwd ? 'visibility_off' : 'visibility' }}</mat-icon>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
            <button type="submit" mat-flat-button color="primary">OK</button>
        </mat-card-actions>
      </form>
      <form (submit)="register($event)">
        <mat-card-header>
          <mat-card-title>Register</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="gap">
            <mat-form-field>
              <input matInput placeholder="Username" [(ngModel)]="registerUsername" name="register-username" required>
            </mat-form-field>
            <mat-form-field>
              <input name="register-password" matInput placeholder="Password" [(ngModel)]="registerPassword" [type]="hideRegisterPwd ? 'password' : 'text'" required>
              <mat-icon matSuffix (click)="hideRegisterPwd = !hideRegisterPwd">{{ hideRegisterPwd ? 'visibility_off' : 'visibility' }}</mat-icon>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" mat-flat-button color="primary">OK</button>
        </mat-card-actions>
      </form>
    </div>
  </mat-card>
</div>
