<div class="global-list-container" [style.display]="loaded ? 'block' : 'none'">
  <div class="search-container">
    <mat-form-field class="example-form-field">
      <mat-label>Search an user</mat-label>
      <input matInput (keyup)="applyFilter($event)" type="text" [(ngModel)]="search" #input>
      @if (search) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="resetFilter(input)">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id"> No. </th>
        <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name </th>
        <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email"> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="occupation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by occupation"> Occupation </th>
        <td mat-cell *matCellDef="let element"> {{element.occupation}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <a [routerLink]="['/user', element.id]" [title]="'Details about ' + element.name" mat-icon-button>
            <mat-icon>remove_red_eye</mat-icon>
          </a>
          <a color="primary" [routerLink]="['/update', element.id]" [title]="'Edit ' + element.name" mat-icon-button>
            <mat-icon>edit</mat-icon>
          </a>
          <a color="warn" [title]="'Delete ' + element.name" [routerLink]="['/delete', element.id]" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          <h3 class="warning-color">No results for <i>"{{input.value.slice(0, 12)}}{{input.value.length > 12 ? '...' : ''}}"</i></h3>
          <img src="assets/img/not-found.png" alt="image">
        </td>
      </tr>
    </table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, dataSource.data.length]" showFirstLastButtons aria-label="Select page of users">
    </mat-paginator>

  </div>
</div>

<div class="spinner-container" [style.display]="loaded && 'none'">
  <mat-spinner color="primary"></mat-spinner>
</div>
