table {
  width: 90%;
}

.global-list-container {
  margin-top: 30px;
  padding-bottom: 20px;
  width: 95vw;
}

mat-form-field {
  width: 100%;
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

[mat-stroked-button] {
  margin-left: 10px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

tr.mat-row {
  height: 140px;
  td {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    column-gap: 40px;
    h3 {
      margin-left: 20px;
      width: fit-content;
    }
    img {
      width: 90px;
      height: 90px;
      object-fit: cover;
      margin: 20px 0;
    }
  }
}

