<div class="card-container">
  <mat-card [class]="{'loading': !loaded }">
    @if (user) {
      @if (!loaded) {
        <mat-card-footer>
          <mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
      } @else {
        <mat-card-header>
          <mat-card-title>{{ user.name }}</mat-card-title>
          <mat-card-subtitle>Id : {{ user.id }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h3 class="warning-color">Are you sure to delete this user ?</h3>
        </mat-card-content>
        <mat-card-actions>
          <div class="back-buttons-container">
            <a title="Go to user" [routerLink]="['/user', user.id]" mat-icon-button>
              <mat-icon>arrow_back_ios</mat-icon>
            </a>
            <button [title]="'Delete ' + user.name" (click)="deleteUser()" mat-mini-fab color="warn" aria-label="Example icon button with a delete icon">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      }
    } @else {
      @if (!loaded) {
        <mat-card-footer>
          <mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
      } @else {
        <mat-card-header class="not-found">
          <mat-card-title>User not found</mat-card-title>
        </mat-card-header>
        <mat-card-content class="not-found">
          <img src="/assets/img/not-found.png" alt="not found :(">
        </mat-card-content>
        <mat-card-actions class="not-found" align="end">
          <a mat-button routerLink="/">Go back to list</a>
        </mat-card-actions>
      }
    }
  </mat-card>
</div>
