<div class="card-container edit">
  <mat-card [class]="{'loading': !loaded }">
    @if (user) {
      @if (!loaded) {
        <mat-card-footer>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
      } @else {
        <mat-card-header>
          <h1>Edit {{ initialUserName }}</h1>
        </mat-card-header>
        <mat-card-content>
          <form (submit)="handleSubmitEdition($event)">
            <div class="row">
              <h2 class="title-row">Main</h2>
              <div class="input-row">
                <mat-form-field class="name-field">
                  <mat-label>Full name</mat-label>
                  <input required="true" [(ngModel)]="user.name" name="name" type="text" matInput>
                </mat-form-field>
                <mat-form-field class="occupation-field">
                  <mat-label>Occupation</mat-label>
                  <input required="true" [(ngModel)]="user.occupation" name="occupation" matInput />
                </mat-form-field>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="row">
              <h2 class="title-row">Contacts</h2>
              <div class="input-row">
                <mat-form-field class="email-field">
                  <mat-label>Email</mat-label>
                  <input required="true" [(ngModel)]="user.email" name="email" matInput />
                </mat-form-field>
                <mat-form-field class="phone-field">
                  <mat-label>Phone</mat-label>
                  <input [(ngModel)]="user.phone" name="phone" matInput />
                </mat-form-field>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="row">
              <h2 class="title-row">Location</h2>
              <div class="input-row">
                <mat-form-field class="city-field">
                  <mat-label>City</mat-label>
                  <input [(ngModel)]="user.city" name="city" matInput />
                </mat-form-field>
                <mat-form-field class="adress-field">
                  <mat-label>Adress</mat-label>
                  <input [(ngModel)]="user.adress" name="adress" matInput />
                </mat-form-field>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="row">
              <h2 class="title-row">Others</h2>
              <div class="input-row">
                <mat-form-field class="gender-field">
                  <mat-label>Gender</mat-label>
                  <mat-select [(ngModel)]="user.gender" name="gender">
                    <mat-option value="not">Not specified</mat-option>
                    <mat-option value="female">Female</mat-option>
                    <mat-option value="male">Male</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="biography-field">
                  <mat-label>Biography</mat-label>
                  <textarea [(ngModel)]="user.bio" name="bio" #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="5"
                  cdkAutosizeMaxRows="5"
                  cdkTextareaAutosize matInput></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="buttons-container">
              <a [routerLink]="['/user', user.id]" title="Back to user" mat-icon-button>
                <mat-icon>arrow_back_ios</mat-icon>
              </a>
              <button class="validate-button" title="Validate" type="submit" color="primary" mat-flat-button>
                <p>Validate</p>
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </form>
        </mat-card-content>
      }
    } @else {
      @if (!loaded) {
        <mat-card-footer>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
      } @else {
        <mat-card-header>
          <mat-card-title>Not found</mat-card-title>
        </mat-card-header>
        <mat-card-content style="display: flex; align-items: center; justify-content: center;">
          <img width="200px" style="margin: 0 auto;" src="/assets/img/not-found.png" alt="image">
        </mat-card-content>
        <mat-card-actions align="end">
          <a mat-button routerLink="/">Go back</a>
        </mat-card-actions>
      }
    }
  </mat-card>
</div>
